.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 40px 20px;
  max-width: 1280px;
  padding: 20px 0 40px;
  border-bottom: #21212166 1px solid;
}

.cards__card {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  gap: 12px;
}

.cards__image {
  max-width: 413px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.cards__label {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.cards__label p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards__like-button {
  max-width: 23px;
  max-height: 20px;
  padding: 0;
  border: none;
  background: none;
  opacity: 40%;
}

.cards__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
    align-self: center;
  }

  .cards__card {
    min-width: 0;
    max-width: 413px;
  }

  .cards__image {
    max-width: none;
    width: 100%;
    aspect-ratio: 1/1;
  }
}
