.cards__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  width: 100%;
  max-width: 1280px;
  border-bottom: #21212166 1px solid;
}

@media screen and (min-width: 850px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    padding: 20px 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
