.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 40px 20px;
  width: 100%;
  max-width: 1280px;
  padding: 20px 0 40px;
  border-bottom: #21212166 1px solid;
}

@media screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    padding: 20px 0;
  }
}
