.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  flex-shrink: 0;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #212121b3;
  margin: 0;
  padding: 0;
}
