*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 100%;
  max-width: 1440px;
  background-color: #fcf5e5;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  cursor: url("../images/cursor-pointer-icon.svg"), pointer;
}

.page > * {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .page {
    max-width: none;
  }
}
