.profile {
  display: flex;
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0;
  border-bottom: #21212166 1px solid;
}

.profile__avatar-section {
  display: flex;
  gap: 20px;
}

.profile__avatar {
  max-width: 190px;
  max-height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #212121;
  font-size: 32px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  background: none;
  border: none;
}

.profile__edit-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__new-post-button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  max-width: 149px;
  padding: 18px 32px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.profile__new-post-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__button-text {
  margin: 0;
  padding: 0;
}

.profile__new-post-button-icon {
  max-width: 12px;
  max-height: 12px;
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .profile__avatar-section {
    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    max-width: 28%;
    height: auto;
  }

  .profile__column {
    gap: 32px;
    align-items: center;
  }

  .profile__name {
    text-align: center;
    font-size: 20px;
    padding: 0 0 6px;
    margin: 0;
  }

  .profile__description {
    text-align: center;
    padding: 0;
  }

  .profile__new-post-button {
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: none;
  }
}
